@font-face {
    font-family: 'graduateregular';
    src: url('fonts/graduate-regular-webfont.eot');
    src: url('fonts/graduate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/graduate-regular-webfont.woff2') format('woff2'),
         url('fonts/graduate-regular-webfont.woff') format('woff'),
         url('fonts/graduate-regular-webfont.ttf') format('truetype'),
         url('fonts/graduate-regular-webfont.svg#graduateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2
{
	color: purple;
	font-family: graduateregular, Arial, serif;
	border: 3px purple solid;
    box-shadow: 2px 2px 2px black;
    text-align: center;
}
body
{
	background: url("image/nuage.jpg") fixed no-repeat;
}
h1, h3
{
	text-align: center;
}
.photo
{
	text-align: center;
}
h1
{
	text-shadow: 6px 6px 6px purple;
}
